*{
    user-select: none;
    /* 无法选中，整体感更强 */
}

body{
    background: url(../images/wallpaper.jpg) no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.login{
    position: absolute;
    top: 50%;
    margin-top: -250px;
    left: 50%;
    margin-left: -200px;
    background-color:#afd8d0;
    width: 400px;
    height: 450px;
    border-radius: 25px;
    text-align: center;
    padding: 5px 40px;
    box-sizing: border-box;
    opacity: 0.7;

}

p{
    font-size: 42px;
    font-weight: 600;
}

input{
    background-color:#89d6e0;
    width: 80%;
    height: 48px;
    margin-bottom: 10px;
    border: none;
    border-bottom: 2px solid silver;
    /* 下面的会覆盖上面的步伐 */
    outline: none;
    font-size: 22px;
    padding-left: 15px;
}

.btn{
    background-color: #59c2c5;
    width: 38%;
    height: 48px;
    border-radius: 8px;
    margin-top: 40px;
    font-size: 28px;
    font-weight: 600;
    color: white;
}
.btn:hover{
    background-color: #59c2a0;
}
.inputArea{
    position: absolute;
    left: 0px;
    top: 145px;
}